<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 定位 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".cloud.TipActivity"></activity>
        <activity android:name=".cloud.ArticleDetail" />
        <activity android:name=".cloud.SearchCloud" />
        <activity android:name=".home.Notice_detail" />
        <activity android:name=".fragment.VerifyDialogFragment" />
        <activity android:name=".SelectDialog" />
        <activity android:name=".user.ComplainMain" />
        <activity android:name=".user.RepairMain" />
        <activity android:name=".view.PayDailog" />
        <activity android:name=".user.SetPayPassword" />
        <activity android:name=".home.CommunityDetail" />
        <activity android:name=".home.Community" />
        <activity android:name=".home.GasDetail" />
        <activity android:name=".home.Gas" />
        <activity android:name=".home.ElectricDetail" />
        <activity android:name=".home.Electric" />
        <activity android:name=".PaySuccess" />
        <activity android:name=".home.WaterDetail" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".home.PaymentActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgetActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".user.ChangePassword" />
        <activity android:name=".user.Setting" />
        <activity android:name=".user.MyHome" />
        <activity android:name=".home.NoticeActivity" />
        <activity android:name=".home.RepairActivity" />
        <activity android:name=".home.ComplainActivity" />
        <activity android:name=".home.SearchActivity" />
        <activity android:name=".user.UserMessage" />
        <activity android:name=".home.Water" />
        <activity android:name=".SetPasswordActivity" />
        <activity android:name=".cloud.PublishActivity" />
    </application>

</manifest>